.messageBox{
    background-color: gainsboro;
    width:50%;
    display: inline-block;
    border-radius: 0.5vmax;
    clear:both;
    margin: 1vmax;
    padding:1vmax;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.right{
    float:right;
    background-color: crimson;
    color: white;
}
.left{
    float:left;
    background-color: rgb(196, 255, 184);
    color: black;
}