.JoinPage{
    background-color: rgb(1, 1, 1);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LoginContainer{
    
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
    
}

.LoginContainer > img{
    width:10vmax;
}

.LoginContainer > h1{
    font-size: 3vmax;
    font-family: 'Roboto', sans-serif;
    width:25vmax;
    border-bottom: 2px solid white;
    text-align: center;
    box-sizing: border-box;

}

#joinInput{
    width:25vmax;
    padding:1.5vmax;
    box-sizing: border-box;
    font-size:1.5vmax;
    margin:2vmax;
    outline:none;
    border: none;
}


.joinbtn{
    width:25vmax;
    padding:1.5vmax;
    box-sizing: border-box;
    font-size:1.2vmax;
    margin:2vmax;
    outline:none;
    border: none;
    font-family: 'Roboto';
    color: white;
    background-color: crimson;
    transition: all 0.3s;
    cursor: pointer;

}


.joinbtn:hover{
    background-color: rgb(170, 33, 60);
}